*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* .body{
    background-color: aliceblue;
    background-size: cover;
    background-position: center;
    font-family:  sans-serif;

} */
.menu-bar{
    background: green;
    text-align:center ;
}
.menu-bar ul{
    display: inline-flex;
    list-style: none;
    color: #fff;
}
.menu-bar ul li{
    width: 70px;
    margin: 15px;
    padding: 15px;
}