*
{
    margin: 0px;
    padding: 0px;
    font-family: 'Times New Roman';
}
header{
    background-color:white;
    background-image:url(./wwww.jpg);
    height:100vh;
    width: 205vh;
    
   
}

ul li{
    display:inline;
}
ul li a{
    text-decoration: none;
    padding: 5px 20px;
    border: 1px solid transparent;
    color: rgb(19, 20, 20);
    transition: 0.6s ease;
}
ul li a:hover{
    background-color: rgb(223, 97, 245);
    border-radius: 10px;    
}

.box{
    width: 70%;
    height: 80px;
    background-color:rgba(223, 220, 220, 0.142);
    margin-top: 70px;
    margin: auto;    ;
}

.title h1{
    color: white ;
    font-size: 40px;

}

.btn a:hover{
    background-color: rgb(245, 97, 97);
    /* color: aqua; */
}
.c66{
    padding-left: 50px;
    padding-top: 5px;
    /* color: aliceblue; */
}
